{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>

        
        <link rel="stylesheet" href="{% static 'css\header.css' %}">
        <link rel="stylesheet" href="{% static 'css\bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'css\bootstrap-grid.min.css' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="navbar-brand">LOGO</a>
                <div class="navbar-wrap">
                    <ul class="navbar-menu">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="routeDropdown" data-toggle="dropdown" aria-expanded="false">Направления</a>
                            <ul class="dropdown-menu" aria-labelledby="routeDropdown">
                                <li><a href="/walking_tourism/">Пеший туризм</a></li>
                                <li><a href="/water_tourism/">Водный туризм</a></li>
                                <li><a href="/mountain_tourism/">Горный туризм</a></li>
                            </ul>
                        </li>
                        <li><a href="/media/">Медиа</a></li>
                        <li><a href="/medicine/">Медицина</a></li>
                        <li><a href="/about_project/">Контакты</a></li>
                    <a href="#" class="callback">☀️|🌙</a>
                </ul>
                </div>
            </div>
        </nav>
    </body>
    
</html>