{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="{% static 'css/start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/titlemedicine.webp' %}" class="background-image">
            {% include 'header.html' %}
            <h1>МЕДИЦИНА</h1>
        </div>
        <h2>Пеший туризм:</h2>
        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/sunshoot.jpg' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Первая помощь при солнечном ударе</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/watershoot.jpg' %}" alt="Эльбрус">
                    <div class="route-info">
                        <h3>Первая помощь при обезвоживании</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/firsthelp.jpg' %}" alt="Мансий порог">
                    <div class="route-info">
                        <h3>Общая первая помощь</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>Водный туризм:</h2>
        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/wm1.webp' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Спасательные работы с морковкой на воде</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/wm2.jpg' %}" alt="Эльбрус">
                    <div class="route-info">
                        <h3>Первая помощь в воде</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/wm3.webp' %}" alt="Мансий порог">
                    <div class="route-info">
                        <h3>Первая помощь при укусе змей</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>Горный туризм:</h2>
        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/mm1.jpg' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Спасательные работы на высоте</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/mm2.jpg' %}" alt="Эльбрус">
                    <div class="route-info">
                        <h3>Первая помощь при обморожении</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/sunshoot.jpg' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Первая помощь при солнечном ударе</h3>
                        <a href="/medicine/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://drive.google.com/drive/folders/1snwOAVhpCYfdzKLReL2X-K6_2se3TY3J?usp=sharing" class="other-photos">Методические материалы</a><br>               
    </body>
</html>