{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="stylesheet" href="{% static 'css/start.css' %}">
        <meta charset = "UTF-8">
        <title>Media</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h2>Наши лучшие моменты:</h2>
        <div class="carousel">
            <div class="gallery">
                <div class="gallery-container">
                    <img class="gallery-item gallery-item-1" src="{% static 'image/mansky.jpg' %}" alt="Манский порог" data-index="1">
                    <img class="gallery-item gallery-item-2" data-index="2" src="{% static 'image/elbrus.jpg' %}" alt="Эльбрус">
                    <img class="gallery-item gallery-item-3" data-index="3" src="{% static 'image/best_moment_1.jpg' %}" alt="Столбы">
                    <img class="gallery-item gallery-item-4" data-index="4" src="{% static 'image/best_moment_2.jpg' %}" alt="Териберка">
                    <img class="gallery-item gallery-item-5" data-index="5" src="{% static 'image/dombai.jpg' %}" alt="Домбай">
                </div>
                <div class="gallery-controls">
                    <button class="gallery-controls-previous"><</button>
                    <button class="gallery-controls-next">></button>
                </div>
            </div>
            <!-- Text description is placed here, below the gallery -->
            <div class="gallery-description">
                <p id="description-text">Манский порог — великолепное место для отдыха на природе.</p>
            </div>
            <script src="{% static 'js/carousel.js' %}"></script>
        </div>              
    </body>
</html>