{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Mountain tourism</title>

        <link rel="stylesheet" href="{% static 'css\start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/gora.jpg' %}" class="background-image">
            {% include 'header.html' %}
            <h1>ГОРНЫЙ ТУРИЗМ</h1>
        </div>
        <div class="tourism-description">
            <p>
                Горный туризм — это путешествие туда, где воздух чище, а виды настолько грандиозны, что перехватывает дух. Это приключение для тех, кто хочет проверить себя, выйти за рамки повседневного и зарядиться энергией гор.            <ul class="tourism-benefits">
                <li>🟢 Горный климат благоприятно влияет на организм. </li>
                <li>🟢 Захватывающие виды: панорамы горных долин, ледников и каньонов. </li>
                <li>🟢 Преодоление сложных маршрутов дарит ощущение триумфа. </li>
                <li>🟢 Современная экипировка делает путешествие комфортным. </li>
            </ul>
            
        </div>
        <p class="cta-text">
            Покорите вершины и ощутите восторг от достижения новых высот!
        </p>

        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/elbrus.jpg' %}" alt="Эльбрус">
                    <div class="route-info">
                        <h3>Эльбрус</h3>
                        <p>Место: Кавказ</p>
                        <p>Включено: <br> Трансфер, Питание</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/arktru.jpg' %}" alt="Арктру">
                    <div class="route-info">
                        <h3>Арктру</h3>
                        <p>Место: Алтай</p>
                        <p>Включено: <br> Трансфер, Питание</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/beluha.jpeg' %}" alt="Белуха">
                    <div class="route-info">
                        <h3>Белуха</h3>
                        <p>Место: Алтай</p>
                        <p>Включено: <br> Трансфер, Питание</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/kazbek.jpeg' %}" alt="Казбек">
                    <div class="route-info">
                        <h3>Казбек</h3>
                        <p>Место: Грузия</p>
                        <p>Включено: <br> Трансфер, Питание</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/kilimand.jpg' %}" alt="Килиманджаро">
                    <div class="route-info">
                        <h3>Килиманджаро</h3>
                        <p>Место: Танзания</p>
                        <p>Включено: <br> Трансфер, Питание</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>