{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain Tourism</title>

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Подключение React и Babel -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>

    <!-- Определяем пути к изображениям -->
    <script type="text/javascript">
        window.staticImages = {
            background: "{% static 'image/mountain_main.png' %}",
            elbrus: "{% static 'image/elbrus.jpg' %}",
            arktru: "{% static 'image/arktru.jpg' %}",
            beluha: "{% static 'image/beluha.jpeg' %}",
            kazbek: "{% static 'image/kazbek.jpeg' %}",
            kilimand: "{% static 'image/kilimand.jpg' %}"
        };
    </script>

    <!-- Подключение header.js -->
    <script src="{% static 'js/header.js' %}" type="text/babel"></script>

    <!-- Подключение mountainTourism.js -->
    <script src="{% static 'js/mountainTourism.js' %}" type="text/babel"></script>

    <!-- Рендеринг компонента MountainTourism -->
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("root")).render(<MountainTourism />);
    </script>
</body>
</html>