{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Start</title>

        <link rel="stylesheet" href="{% static 'css\start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 
    </head>
    <body>

        <div class="tourism-section">
            <img src="{% static 'image/IMG_6230.jpg' %}" alt="Фоновое изображение" class="background-image">
            {% include 'header.html' %}
            <div class="tourism-options">
                <div class="tourism-item">
                    <h3>Пеший туризм</h3>
                    <a href="/walking_tourism/">Перейти></a>
                </div>
                <div class="tourism-item">
                    <h3>Водный туризм</h3>
                    <a href="/water_tourism/">Перейти></a>
                </div>
                <div class="tourism-item">
                    <h3>Горный туризм</h3>
                    <a href="/mountain_tourism/">Перейти></a>
                </div>
            </div>
        </div>

        <!-- Популярные маршруты -->
        <div class="popular-routes">
            <h2>Наши популярные маршруты:</h2>
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/stolb.png' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Столбы</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/elbrus.jpg' %}" alt="Эльбрус">
                    <div class="route-info">
                        <h3>Эльбрус</h3>
                        <p>Протяженность по времени: 5-7 дней</p>
                        <p>Включено: <br>Питание, Трансфер</p>
                        <a href="/elbrus_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/mansky.jpg' %}" alt="Мансий порог">
                    <div class="route-info">
                        <h3>Манский порог</h3>
                        <p>Протяженность по времени: 3 часа</p>
                        <p>Включено: <br>Трансфер</p>
                        <a href="/mansky_route/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Новый раздел: Календарь с занятиями -->
        <div class="calendar-section">
            <h2>Календарь с занятиями</h2>
            <!-- Добавьте календарь или ссылки на занятия здесь -->
            <!-- Вы можете добавить таблицу или сетку для списка событий -->
        </div>

    </body>
</html>