{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title> Stolby route</title>
        <link rel="stylesheet" href="{% static 'css\start.css' %}">
    
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/stolbyonback.jpg' %}" class="background-image">
            {% include 'header.html' %}
            <h1>КРАСНОЯРСКИЕ <br> СТОЛБЫ</h1>
        </div>

        <div class="tourism-description">
            <p style="padding: 5px">Маршрут <b>"Красноярские столбы"</b> – это незабываемое путешествие в сердце сибирской природы, где величественные скалы, утопающие в зелени тайги, создают атмосферу уединения и вдохновения. Этот уникальный природный заповедник, расположенный недалеко от города Красноярска, является одним из самых живописных мест России и привлекает туристов со всего мира.</p> 
            <p style="padding: 5px">Прогулка по <b>"Столбам"</b> подарит вам возможность насладиться захватывающими видами, испытать себя на скалистых тропах и ощутить дух приключений. Здесь каждый найдет что-то для себя: от легких маршрутов для семейных прогулок до более сложных подъемов, которые оценят опытные путешественники.</p>
        </div>

         <!-- Блок фотографий -->
         <div class="photo-container">
            <img src="{% static 'image/stolb2.jpg' %}" alt="Первое фото" class="big-photo">
            <div class="small-photos">
                <img src="{% static 'image/stolb3.jpg' %}" alt="Второе фото" class="small-photo">
                <img src="{% static 'image/stolb1.jpg' %}" alt="Третье фото" class="small-photo">
            </div>
        </div>
        <a href="#" class="other-photos">Другие фото</a>

        <!-- Модальное окно для изображения -->
        <div id="modal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modal-img">
        </div>
        <!-- Информация о маршруте -->
        <div class="route-info-on-page">
            <div class="route-block">
                <h3>Стоимость</h3>
                <p>1500 руб.</p>
            </div>
            <div class="route-block">
                <h3>Даты</h3>
                <p>Июнь-Сентябрь</p>
            </div>
            <div class="route-block">
                <h3>Удобства</h3>
                <p>Парковка, гиды, оборудованные тропы</p>
            </div>
        </div>

        <div class="tourism-description">
            <p style="padding: 5px"><b>"Красноярские столбы"</b> – это не только природа, но и богатая история, традиции "столбистов" и культура взаимопомощи, которые объединяют людей уже более века. Присоединяйтесь к маршруту и откройте для себя настоящую сибирскую сказку!</p>
        </div>

        <a href="{% url 'tours_registrations:register_for_tour' tour_id=1 %}" class="other-photos">Зарегистрироваться</a><br>
    </body>
</html>