{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walking Tourism</title>

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Подключение React и Babel -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>

    <!-- Определяем пути к изображениям -->
    <script type="text/javascript">
        window.staticImages = {
            background: "{% static 'image/peshiy.png' %}",
            stolb: "{% static 'image/stolb.png' %}",
            ergaki: "{% static 'image/Ergaki.png' %}",
            belogorye: "{% static 'image/belogorye.png' %}",
            mininskie: "{% static 'image/mininskie.png' %}"
        };
    </script>

    <!-- Подключение header.js -->
    <script src="{% static 'js/header.js' %}" type="text/babel"></script>

    <!-- Подключение walkingTourism.js -->
    <script src="{% static 'js/walkingTourism.js' %}" type="text/babel"></script>

    <!-- Рендеринг компонента WalkingTourism -->
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("root")).render(<WalkingTourism />);
    </script>
</body>
</html>