{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Walking tourism</title>

        <link rel="stylesheet" href="{% static 'css\start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/IMG_6233.jpg' %}" class="background-image">
            {% include 'header.html' %}
            <h1>ПЕШИЙ ТУРИЗМ</h1>
        </div>
        <div class="tourism-description">
            <p>
                Пеший туризм — это возможность почувствовать природу во всей её красе, окунуться в тишину лесов, насладиться свежим воздухом и восхититься панорамами, открывающимися с вершины холмов. Это идеальный способ соединиться с миром вокруг и самим собой.
            </p>
            <ul class="tourism-benefits">
                <li>🟡 Подойдёт как новичкам, так и опытным путешественникам.</li>
                <li>🟡 Достаточно удобной обуви, рюкзака и минимального набора.</li>
                <li>🟡 Удобный маршрут: от спокойных прогулок до многодневных походов.</li>
                <li>🟡 Улучшайте физическую форму и настроение.</li>
            </ul>
            
        </div>
        <p class="cta-text">
            Отправляйтесь в увлекательное путешествие по тропам, где каждый шаг открывает новые горизонты!
        </p>

        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/stolb.png' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Столбы</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/Ergaki.jpg' %}" alt="Ергаки">
                    <div class="route-info">
                        <h3>Ергаки</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/putoran.jpg' %}" alt="Плато Путорана">
                    <div class="route-info">
                        <h3>Плато Путорана</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/Ergaki.jpg' %}" alt="Ергаки">
                    <div class="route-info">
                        <h3>Ергаки</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/stolb.png' %}" alt="Столбы">
                    <div class="route-info">
                        <h3>Столбы</h3>
                        <p>Протяженность по времени: 7 часов</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>