{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Water tourism</title>

        <link rel="stylesheet" href="{% static 'css\start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/katun2.webp' %}" class="background-image">
            {% include 'header.html' %}
            <h1>ВОДНЫЙ ТУРИЗМ</h1>
        </div>
    </body>
</html>