{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Water tourism</title>

        <link rel="stylesheet" href="{% static 'css\start.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="tourism-section">
            <img src="{% static 'image/katun2.webp' %}" class="background-image">
            {% include 'header.html' %}
            <h1>ВОДНЫЙ ТУРИЗМ</h1>
        </div>
        <div class="tourism-description">
            <p>
                Водный туризм — это не просто путешествие, это целая стихия, в которой каждый может найти своё: от тихого катания на лодке до бурного сплава на каяке. Природа вокруг кажется ещё ближе, когда вы видите её отражение в водной глади.            </p>
            <ul class="tourism-benefits">
                <li>🔵 Потрясающие виды, которые недоступны с берега. </li>
                <li>🔵 Слаженная работа в команде. </li>
                <li>🔵 Удобный маршрут: от спокойного каякинга до экстремального рафтинга. </li>
                <li>🔵 Тишина и уединение на воде, вдали от городской суеты.</li>
            </ul>
            
        </div>
        <p class="cta-text">
            Почувствуйте дух приключений на воде, скользя по рекам, озёрам или морям!        
        </p>

        <div class="popular-routes">
            <div class="route-cards">
                <div class="route-card">
                    <img src="{% static 'image/katun.jpg' %}" alt="Сплав по Катуни">
                    <div class="route-info">
                        <h3>Cплав по реке "Катунь"</h3>
                        <p>Место: Алтай</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/Esaulovka.jpg' %}" alt="Сплав по Тумче">
                    <div class="route-info">
                        <h3>Сплав по реке "Есауловка"</h3>
                        <p>Место: Красноярск</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/mana.jpg' %}" alt="Манский порог">
                    <div class="route-info">
                        <h3>Сплав по реке "Мана"</h3>
                        <p>Место: Красноярск</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/tumcha.jpg' %}" alt="Сплав по Тумче">
                    <div class="route-info">
                        <h3>Сплав по реке "Тумча"</h3>
                        <p>Место: Карелия</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
                <div class="route-card">
                    <img src="{% static 'image/belaya.jpg' %}" alt="Сплав по Белой">
                    <div class="route-info">
                        <h3>Cплав по реке "Белая"</h3>
                        <p>Место: Башкирия</p>
                        <p>Включено: <br> Трансфер</p>
                        <a href="/stolby_route/">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>