body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 36px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.navbar {
	width: 100%;
	height: 70px;
	background-color: transparent !important; /* Прозрачный фон с приоритетом */
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent !important; /* Прозрачный фон с приоритетом */
}

.navbar-menu {
	list-style-type: none;
	padding-left: 0%;
	margin-bottom: 0%;
}

.navbar-menu li{ 
	display: inline-block;
	margin-right: 40px; /* Увеличено расстояние между пунктами меню */
}

.navbar-menu li a { 
	font-size: 20px; /* Задает размер шрифта для пунктов меню */
	display: inline-block;
	color:#000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover { 
	opacity: 1;
}


.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.callback {
	font-size: 20px; /* Задает размер шрифта для пунктов меню */
	margin-left: 40px;
	padding: 10px 30px;
	background-color: coral;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
	transition: all .1s ease-out;
}

.callback:hover {
	transform:scale(1.04);
	color:#fff;
	box-shadow: 0 9px 9px rgba(255, 255, 255, 0.3);
}

.navbar-brand {
	font-weight: 700;
	font-size: 36px;
	text-decoration: none;
	color:#000;
	margin-right: 40px; /* Увеличено расстояние между логотипом и меню */
}

.navbar-brand:hover {
	color: coral;
	transition: all .07s ease-in-out;
}
