body {
position: relative;
font-family: 'Santello Regular', sans-serif;
font-size: 16px;
line-height: 1.4;
color: #000;
min-width: 320px;
overflow-x: hidden;
height: auto;
}

.navbar {
width: 100%;
height: 100px;
background-color: transparent;
font-family: 'Santello Regular', sans-serif;
line-height: 1.4;
color: #fff;
font-size: 16px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navbar-menu {
list-style-type: none;
padding-left: 0;
margin-bottom: 0;
display: flex;
align-items: center;
}

.navbar-menu li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.navbar-menu li a {
    font-size: 20px;
    display: inline-block;
    color: #ffffff; /* Белый цвет по умолчанию */
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.navbar-menu li a:hover {
    color: #ff8559; /* Коралловый при наведении */
}

.navbar .dropdown-menu {
display: none;
position: absolute;
top: 100%;
left: 0;
background: white;
list-style: none;
padding: 7px;
margin: 0;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
z-index: 1000;
border-radius: 4px;
min-width: 100px;
}

.navbar .dropdown-menu.open {
    display: block;
}

.navbar .dropdown-menu li {
    padding: 7px;
    text-align: center;
}

.navbar .dropdown-menu li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    display: block;
    transition: background-color 0.2s ease;
}

.navbar .dropdown-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar .callback {
font-size: 20px;
margin-left: 40px;
padding: 10px 30px;
background-color: coral;
border-radius: 100px;
color: #fff;
text-decoration: none;
box-shadow: 0 4px 6px rgba(255, 127, 80, 0.2);
transition: all 0.1s ease-out;
}

.navbar .callback:hover {
    transform: scale(1.04);
    color: #ff8559; /* Коралловый при наведении */
    box-shadow: 0 9px 9px rgba(255, 255, 255, 0.3);
}

.navbar .navbar-brand {
font-weight: 700;
font-size: 36px;
text-decoration: none;
color: #ffffff; /* Белый цвет по умолчанию */
margin-left: 40px;
transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: #ff8559; /* Коралловый при наведении */
}

@font-face {
    font-family: "Santello Regular";
    src: url("/static/fonts/SANTELLO.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
