body, html {
    width: 100%;
    height: 100%;
    font-family: "Manrope", sans-serif; /* Manrope для базового текста */
    font-size: 16px;
    background-color: #e0e0e0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Santello Regular", sans-serif;
}

.route-section {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
