* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Manrope", sans-serif; /* Manrope для базового текста */
    font-size: 16px;
}

/* Santello Regular для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-family: "Santello Regular", sans-serif;
}

.tourism-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Высота на весь экран */
}

.tourism-section h1 {
    font-size: 100px;
    padding: 130px;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Add shadow */
}

.tourism-section h1 {
    font-size: 100px;
    padding: 130px;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Add shadow */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабирует картинку, сохраняя пропорции */
    z-index: -1; /* Отправляет изображение на задний план */
}

.tourism-options {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    font-family: "Santello Regular", sans-serif;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0;
    color: #fff;
}

.tourism-item {
    text-align: center;
    color: #fff;
}

.tourism-item h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
}

.tourism-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.tourism-item a:hover {
    color: #ff8559; /* Коралловый при наведении вместо желтого */
    border-bottom-color: #ff8559; /* Подчеркивание тоже коралловое */
}


/* Стили для раздела "Популярные маршруты" */
.popular-routes {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

.popular-routes h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.route-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.route-card-link {
    text-decoration: none; /* Убираем подчеркивание для ссылки */
    color: inherit; /* Наследуем цвет текста */
    display: block; /* Делаем ссылку блочной, чтобы она охватывала всю карточку */
}

.route-card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.route-card:hover {
    transform: scale(1.05);
}

.route-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.route-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    color: #ffffff;
}

.route-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
}

.route-info p {
    font-size: 0.9em;
    color: #ffffff;
}

.route-info .route-details { /* Изменяем класс для ссылки "Подробнее" */
    display: inline-block;
    margin-top: 10px;
    color: coral;
    text-decoration: none;
    font-weight: bold;
}

.route-info .route-details:hover {
    color: #ff8559;
    text-decoration: underline;
}

.popular-routes h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

/* Стили для раздела "Календарь с занятиями" */
.calendar-section {
    padding: 20px;
    background-color: #e0e0e0;
    text-align: center;
}

.calendar-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    background-color: #e0e0e0;
}

/* Можно добавить дополнительные стили для календаря */

.carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #e0e0e0;
}

h2 {
    padding: 15px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

h1 {
    padding: 15px;
    text-align: center;
    font-family: "Santello Regular", sans-serif;
}

.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 500px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.3;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 270px;
    opacity: 0.7;
    width: 400px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 400px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 570px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: 0.3;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.gallery-controls-button {
    background-color: transparent;
    border: 0;
}

.gallery-description {
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    max-width: 800px;
}

.tourism-section {
    text-align: center;
    color: white;
    position: relative;
    padding-bottom: 40px;
    font-family: 'Noto Sans', sans-serif;
}

.tourism-description {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 5px;
    margin: 0px auto 0;
    width: 75%;
    font-size: 1.2em;
    font-family: "Manrope", sans-serif;
}

.tourism-description p {
    font-size: 1.1em;
    line-height: 1.8;
    padding: 20px;
    text-align: justify;
    text-indent: 50px
}

.tourism-benefits {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.tourism-benefits li {
    font-size: 1.1em;
    margin: 10px 0;
    margin-left: 20px;
    align-items: center;
    color: #333;
    text-align: justify;
    text-indent: 50px
}

.cta-text {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

/* Стили для формы связи */
.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Стили для списка контактов */
.contact-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.photo-container {
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    gap: 20px; /* Промежуток между большими и маленькими фото */
    height: 60vh; /* Высота контейнера */
    display: flex;
    margin-bottom: 30px;
}

.big-photo {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    margin-left: 250px;
    padding: 25px;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out; /* Анимация увеличения */
}

.small-photos {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Промежуток между фото */
}

.small-photo {
    width: 52%; /* Фото занимают ширину родителя */
    height: auto;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out; /* Анимация увеличения */
}

/* Эффект увеличения при наведении */
.big-photo:hover {
    transform: scale(1.05); /* Увеличение на 5% */
}

.small-photo:hover {
    transform: scale(1.10); /* Увеличение на 15% */
}

.other-photos {
    font-size: 20px;
    width: 20%;
    display: grid;
    text-align: center;
    margin-left: 40%;
    padding: 10px 30px;
    background-color: coral;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 4px 6px rgba(255, 127, 80, 0.2);
    transition: all 0.1s ease-out;
}

/* Эффект при наведении */
.other-photos:hover {
    transform: scale(1.04);
    color: #ffcc00;
    box-shadow: 0 9px 9px rgba(255, 255, 255, 0.3);
}

/* Информация о маршруте */
.route-info-on-page {
    display: grid;
    justify-content: space-evenly; /* Центрируем блоки по горизонтали */
    gap: 5px; /* Добавляем промежутки между блоками */
    background-color: #f8f8f8;
    padding: 30px 20px;
    text-align: center; /* Центрируем текст внутри блоков */
    margin-top: 20px;
}

.route-block {
    display: flex; /* Устанавливаем флекс-контейнер */
    flex-direction: column; /* Ставим элементы вертикально */
    align-items: center; /* Центрируем содержимое по горизонтали */
}

.route-block h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center; /* Центрируем заголовки */
}

.route-block p {
    font-size: 1.1em;
    color: #666;
    text-align: center; /* Центрируем текст */
}

@font-face {
    font-family: "Santello Regular";
    src: url("/static/fonts/SANTELLO.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("/static/fonts/Manrope.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}