* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.tourism-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Высота на весь экран */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабирует картинку, сохраняя пропорции */
    z-index: -1; /* Отправляет изображение на задний план */
}

.tourism-options {
    position: absolute;
    bottom: 70px; /* Отступ снизу */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон для читабельности текста */
    padding: 20px 0;
    color: #fff;
}

.tourism-item {
    text-align: center;
    color: #fff;
}

.tourism-item h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
}

.tourism-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.tourism-item a:hover {
    color: #ffcc00; /* Меняет цвет при наведении */
    border-bottom-color: #ffcc00;
}

/* Стили для раздела "Популярные маршруты" */
.popular-routes {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

.popular-routes h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.route-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.route-card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.route-card:hover {
    transform: scale(1.05);
}

.route-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.route-info {
    position: absolute; /* Позиционируем поверх изображения */
    bottom: 0; /* Размещаем внизу карточки */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px; /* Полупрозрачный фон для читаемости */
    padding: 15px;
    text-align: left;
    color: #ffffff;
}

.route-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
}

.route-info p {
    font-size: 0.9em;
    color: #ffffff;
}

.route-info a {
    display: inline-block;
    margin-top: 10px;
    color: coral;
    text-decoration: none;
    font-weight: bold;
}

.route-info a:hover {
    color: #ffcc00; /* Цвет при наведении, например, золотистый */
    text-decoration: underline;
}

.popular-routes {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

.popular-routes h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

/* Стили для раздела "Календарь с занятиями" */
.calendar-section {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.calendar-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Можно добавить дополнительные стили для календаря */
