<!--{% extends 'base.html' %} -->
<!--{% block content %} -->
{% include 'header.html' %}

<h2>Вход</h2>

<form method="post">
    {% csrf_token %}
    <!--{{ form.non_field_errors }}-->
    <p>
      {{ form.username.label_tag }}<br/>
      {{ form.username }}
    </p>
    <p>
      {{ form.password.label_tag }}<br/>
      {{ form.password }}
    </p>
    <button type="submit">Войти</button>
</form>

<p>Нет аккаунта? <a href="{% url 'account:signup' %}">Зарегистрироваться</a></p>
{% endblock %}
