<!--{% extends 'base.html' %} -->
<!--{% block content %} -->
{% include 'header.html' %}
<h2>Личный кабинет</h2>

<p>Фамилия: {{ user.last_name }}</p>
<p>Имя: {{ user.first_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Пол: {{ user.profile.get_gender_display|default:"Не указан" }}</p>
<p>Город: {{ user.profile.city|default:"Не указан" }}</p>
<p>Дата рождения: {{ user.profile.birth_date|default:"Не указана" }}</p>
<p>Телефон: {{ user.profile.phone_number|default:"Не указан" }}</p>

<!-- Новая ссылка -->
<p><a href="{% url 'account:edit_profile' %}">Редактировать профиль</a></p>
<p><a href="{% url 'tours_registrations:my_registrations' %}">Мои регистрации</a></p>

<p><a href="{% url 'account:logout' %}">Выйти</a></p>
{% endblock %}